name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Run TSLint
      uses: mooyoul/tslint-actions@v1.1.1
      with:
        token: ${{secrets.GITHUB_TOKEN}}
        project: 'tsconfig.json'

